body {
  min-height: 100vh;
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #e3e3d1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  padding: 20px;
  position: absolute;
  z-index: 1;
  padding-left: calc(82px + 20px);
  width: 100%;
}
#Barra-Lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #58706d;
  height: 100vh;
  border-radius: 0px 18px 18px 0px;
  position: fixed;
  transition: all 0.5s;
  min-width: 82px;
  z-index: 2;
}

#Conteudo-Barra-Lateral {
  padding: 12px;
}

#logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

#logo_avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
}

#informacao-logo {
  display: flex;
  flex-direction: column;
}

#informacao-logo span:last-child {
  color: #000000;
  font-size: 12px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
}

.side-item.active {
  background-color: #4b5757;
}

.side-item:hover:not(.active),
#logout_btn:hover {
  background-color: #4b5757;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a0a;
}

.side-item.active a {
  color: #e3e9f7;
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

#login {
  border-top: 1px solid #e3e9f7;
  padding: 12px;
}

#login_btn {
  border: none;
  padding: 12px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

#open_btn {
  position: absolute;
  top: 30px;
  right: -10px;
  background-color: #4b5757;
  color: #e3e9f7;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

#open_btn_icon {
  transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

.item-descricao {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  transition: width 0.6s;
  height: 0px;
}

#Barra-Lateral.open-sidebar {
  min-width: 15%;
}

#Barra-Lateral.open-sidebar .item-descricao {
  width: 150px;
  height: auto;
}

#Barra-Lateral.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 14px;
}

#carregar-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detalhes-link {
  color:#4b5757;
  text-decoration: none;
}
.detalhes-link:hover {
  color: #000000;
}
.index-parte {
  margin: 4%;
  color:#7c8a6e;
  font-size: 25px;
}
.titulo-index {
  text-align: center;
  color: #272827;
}
.index-conteudo {
  text-indent: 2%;
  font-size: 20px;
}
.meus-links {
  margin-top: auto;
  padding: 20px;
}
@media (max-width: 480px) {
  .meus-links img {
    width: 150px;
  }
}

.titulo-dicas {
  text-align: center;
  color: #272827;
}

.dicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  padding: 10px;
  text-align: center;
}
.imagem-dica {
  max-width: 200px;
  margin-bottom: 10px;
}
.texto-dica {
  margin: 0;
  font-size: 25px;
  max-width: 100%;
}
.texto strong{
  font-size: 25px;
}
.texto li b{
  font-size: 17px;
}
.texto li{
  font-size: 15px;
}
.lado-dicas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .lado-dicas {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .lado-dicas {
    grid-template-columns: 1fr;
  }
  .imagem-dica {
    max-width: 100px;
  }
  video{
    width: 300px;
  }
  img{
    width: 300px;
  }
}
.imagem-dica-pagina {
  text-align: center;
}
@media (max-width: 480px) {
  .dicas img{
    width: 100px;height: 100px;
  }
  .texto-dica{
    font-size: 15px;
  }
}
.botao-cancelar-voltar{
  padding: 10px;
  background-color: transparent;
}